{% extends 'todo/index.html' %}


{% block title %}
  Добавление новой задачи
{% endblock %} 

{% block header %}
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal my-1">#Todo <span class="blockquote-footer">просто запиши это</span></p>
  <a type="button" class="btn btn-outline-danger" href="{% url 'todo:index' %}">Назад к задачам</a>
  </header>
{% endblock %}


{% block filter %}
  <div></div>
{% endblock %} 


<!-- Добавление новой задачи-->
{% block content %} 
  <form action="{% url 'todo:create_comment' task_id %}" method="post">
    {% csrf_token %}
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Добавление комментария</h5>
          </div>

          <div class="modal-body">  
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Комментарий</label>
              {{form.text}}
          </div>

          <div class="modal-footer">
            <a type="button" class="btn btn-secondary" href="{% url 'todo:index' %}">Отмена</a>
            <button type="submit" class="btn btn-primary">Добавить</button>
          </div>
       </div>
       {% if error %}
         <div class="alert alert-danger mt-3" role="alert">{{error}}</div>
       {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
