
<!-- Модальное окно для создания комментария -->
{% block modal_append_comment %}
  <div class="modal fade" id="addComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление комментария</h5>
      </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="comment-body" class="form-label">Комментарий</label>
            <textarea class="form-control" id="comment-body" name="text"></textarea>
            <input type="hidden" class="form-control" name="task_id" id="comment-task-id"></input>
            {% csrf_token %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
            data-bs-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
            onclick="api_append_comment('{% url "todo:api_append_comment" %}')">Добавить</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}