{% extends 'todo/index.html' %}


{% block title %} Регистрация пользователя {% endblock %}

{% block filter %}{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center text-center">
    <main class="form-signin d-flex">
        <form action="{% url 'todo:register' %}" method="post">
        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
    </form>
    </main>
    </div>
  </div>
{% endblock %}