{% extends 'todo/index.html' %}


{% block content %}
  <!-- Блок предуприждения о работе js -->
  {% block  alert %}
    <div class="content">    
      <div id="test_working_js" class="alert alert-warning" role="alert">
        Включите javascript для корректной работы сайта
      </div>
    </div>
  {% endblock %}
  <!-- Фильтр задач -->
  {% block filter %}
  <!-- Кнопки для отправки ajax запросов -->
  <div class="js_filter_button">
    <div class="btn-group container d-flex justify-content-center">
      <a id="js_filter_button_all" class="btn btn-outline-primary js_filter_buttons btn-outline-primary-hover d-none" 
        onclick=all_tasks()>Все задачи</a>

      <a id="js_filter_button_completed" class="btn btn-outline-primary js_filter_buttons d-none" 
        onclick=completed_tasks()>Выполненые</a>

      <a id="js_filter_button_uncompleted" class="btn btn-outline-primary js_filter_buttons d-none" 
        onclick=uncompleted_tasks()>Невыполненные</a>
    </div>    
  </div>

  <div class="url_filter_button">
    <div class="btn-group container d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" {% if filter == "all_tasks" %}checked{% endif %}>
      <a class="btn btn-outline-primary url_filter_buttons" for="btnradio1" href="{% url 'todo:all_tasks' %}">Все задачи</a>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" {% if filter == "completed_tasks" %}checked{% endif %}>
      <a class="btn btn-outline-primary url_filter_buttons" for="btnradio2" href="{% url 'todo:completed_tasks' %}">Выполненые</a>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" {% if filter == "uncompleted_tasks" %}checked{% endif %}>
      <a class="btn btn-outline-primary url_filter_buttons" for="btnradio3" href="{% url 'todo:uncompleted_tasks' %}">Невыполненные</a>
    </div>
  </div>
  {% endblock %}

  <!-- Модальное окно для создания комментария -->
  <div class="modal fade" id="addComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление комментария</h5>
      </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="comment-body" class="form-label">Комментарий</label>
            <textarea class="form-control" id="comment-body" name="text"></textarea>
            <input type="hidden" class="form-control" name="task_id" id="comment-task-id"></input>
            {% csrf_token %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
            data-bs-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
            onclick="api_append_comment('{% url "todo:api_append_comment" %}')">Добавить</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Модальное окно для создания новой задачи-->
  <div class="modal fade" id="addTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавление задачи</h5>
        </div>

        <div class="modal-body">
            {% csrf_token %}
                
            <div class="mb-3">
              <label for="task-title-input" class="form-label">Имя задачи</label>
                <input type="input" name="title" class="form-control" id="task-title-input" 
                  placeholder="коротко о задаче" maxlength="150">
            </div>
    
            <div class="mb-3">
              <label for="task-text-input" class="form-label">Описание</label>
                <textarea name="text" cols="40" rows="3" class="form-control" id="task-text-input" 
                  placeholder="детальное описание задачи"></textarea>
            </div>

            <div class="modal-footer">
              <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена </a>
              <button class="btn btn-primary" data-bs-dismiss="modal"
                onclick="api_append_task('{% url "todo:api_append_task" %}')">Добавить</button>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div id='task-conteiner' class="container mt-3">
    <div class="accordion" id="accordionExample">
      {% for task in tasks %}
        <div id="accordion-item-{{task.id}}" 
          class="accordion-item task-state-{% if task.is_completed %}completed{% else %}uncompleted{% endif %}">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button {% if active_task != task.id %} collapsed {% endif %}"
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#collapse{{task.id}}" 
              aria-expanded="true" 
              aria-controls="collapse{{task.id}}">
              
              <div class="{% if task.is_completed %} d-block {% else %} d-none {% endif %}" id="mark{{task.id}}"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                  <path d="M8.354 10.354l7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1  0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
              </div>      
              <span class="px-2">{{task.title}}</span>
            </button>
          </h2>
          <div id="collapse{{task.id}}" class="accordion-collapse collapse 
            {% if active_task == task.id %} show {% endif %}" 
            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">{{task.text}}</div>

            <div id="comment-container-{{task.id}}">
              {% if task.comments %}
                {% for comment in task.comments %}
                  <div id="comment-body-{{comment.id}}" class="accordion-body my-0 py-1">      
                    <div class="alert alert-secondary py-1 my-0" role="alert">
                      <div class="row g-3">
                        <!-- Кнопки для отправки ajax запросов -->
                        <a type="button" class="col-auto btn-close js_buttons d-none" 
                           onclick="make_delete_comment_requests('{% url "todo:api_delete_comment" %}', {{comment.id}})">
                        </a>
                      
                        <!-- Кнопка для работы по GET запросам -->
                        <a type="button" class="col-auto btn-close url_buttons d-flex" 
                            href="{% url 'todo:delete_comment' %}?comment_id={{comment.id}}">
                        </a>

                        <div class="col-auto"><span>{{comment.text}}</span></div>
                        <div class="col-auto"></div>
                      </div> 
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <!-- Кнопки для отправки ajax запросов -->
            <div class=".container accordion-body js_buttons d-none">  

              <div id="complete-control-button{{task.id}}" class="{% if task.is_completed %} d-flex {% else %} d-none {% endif %}">
                <button type="button" class="me-1 btn btn-outline-warning"
                  onclick="make_change_task_status_requests('{% url "todo:api_set_uncompleted_status" %}', {{task.id}})">Снять отметку</button>
              </div>

              <div id="uncomplete-control-button{{task.id}}" class="{% if task.is_completed %} d-none {% else %} d-flex {% endif %}">
                <button type="button" class="me-1 btn btn-outline-primary"
                  onclick="make_change_task_status_requests('{% url "todo:api_set_completed_status" %}', {{task.id}})">Отметить как выполненая</button>        
              </div>

              <button type="button" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" 
                data-bs-target="#addComment" onclick="add_task_id_to_modal_form({{task.id}})">
                Добавить комментарий
              </button>
             
              <button type="button" class="me-1 btn btn-outline-danger" 
                onclick="make_delete_task_requests('{% url "todo:api_delete_task" %}', {{task.id}})">Удалить задачу</button>
            </div>

            <!-- Кнопки для работы по GET запросам -->
            <div class=".container accordion-body url_buttons d-flex">  
              {% if task.is_completed %}
                <a type="button" class="btn btn-outline-warning {% if task.is_completed %} d-flex {% else %} d-none {% endif %} me-1"
                  href="{% url 'todo:uncompleted'%}?task_id={{task.id}}">Снять отметку</a>
              {% else %}
                <a type="button" class="btn btn-outline-primary {% if task.is_completed %} d-none {% else %} d-flex {% endif %} me-1" 
                  href="{% url 'todo:completed'%}?task_id={{task.id}}">Отметить как выполненая</a>
              {% endif %}
              <a type="button" class="btn btn-outline-secondary me-1" 
                href="{% url 'todo:create_comment' %}?task_id={{task.id}}">Добавить комментарий</a>
              <a type="button" class="btn btn-outline-danger me-1" 
                href="{% url 'todo:delete' %}?task_id={{task.id}}">Удалить задачу</a>
            </div>
          
          </div>
        </div>
      {% endfor %}

      <div id="accordion-item" class="accordion-item">
          <button class="btn accordion-add-button justify-content-center js_buttons d-none" data-bs-toggle="modal" data-bs-target="#addTask">
            <span>Добавить задачу</span>
          </button>

          <button class="btn accordion-add-button justify-content-center url_buttons">
            <a class="text-decoration-none" href="{% url 'todo:create' %}">Добавить задачу</a>
          </button>
      </div>
    </div>

    <div id="empty-tasks-alert" class="{% if tasks %} d-none {% else %} d-block {% endif %}">
      <div class="alert alert-secondary my-3 d-flex justify-content-center" role="alert"> У вас, пока-что, нет никаких задач. Добавьте задачу, чтобы не забыть о ней!</div>
    </div>

    {% load static %}
    <script src="{% static 'js/scripts.js'%}" type="text/javascript"></script>
  </div>
{% endblock %}