.accordion-add-button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 1.25rem;
	font-size: 1rem;
	color: #0c63e4;
	background-color: #e7f1ff;
	border-color: #0d6efd;
	border: 1px solid rgba(0,0,0,.125);
	    border-bottom-width: 1px;
	border-radius: 0;
	overflow-anchor: none;
	transition: color .15s ease-in-out, 
		background-color .15s ease-in-out, 
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out,
		border-radius .15s ease;
	/*border-bottom-width: 1px;*/
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}


.accordion-filter-buttons {
	position: relative;
	align-items: center;
	width: 100%;
	font-size: 1rem;
	color: #0c63e4;
	background-color: #e7f1ff;
	border-color: #0d6efd;
	overflow-anchor: none;
	transition: color .15s ease-in-out, 
		background-color .15s ease-in-out, 
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out,
		border-radius .15s ease;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
}


.custom-btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #0d6efd;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: transparent;
	padding: 1rem 1.25rem;
	font-size: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	    border-top-left-radius: 0.25rem;
	    border-bottom-left-radius: 0.25rem;
	transition: color .15s ease-in-out, 
				background-color .15s ease-in-out, 
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
	
}

.custom-btn:hover {
	color: #0a58ca;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.custom-btn-hover {
	color: #0a58ca;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
